body {
  padding: 0;
  margin: 0;
  text-align: center;
}
#game-container {
  display: flex;
  justify-content: center;
}
#game-end {
  display: none;
}
.pixel {
  width: 10px;
  border: 1px solid rgb(2, 2, 118);
  height: 10px;
  padding: 2px;
}

#start-button {
  background-color: blueviolet;
  width: 150px;
  height: 50px;
  color: white;
  border-radius: 10px;
}
.logo-img{
  width: 1000px;
  height: 700px;
}